<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fanyi.assistant.dao.RecordDao">
    <resultMap id="BaseResultMap" type="com.fanyi.assistant.model.Record">
        <id column="record_id" property="recordId" jdbcType="INTEGER"/>
        <result column="record_user_id" property="recordUserId" jdbcType="VARCHAR"/>
        <result column="record_title" property="recordTitle" jdbcType="VARCHAR"/>
        <result column="record_content" property="recordContent" jdbcType="LONGVARCHAR"/>
        <result column="record_summary" property="recordSummary" jdbcType="VARCHAR"/>
        <result column="record_view_count" property="recordViewCount" jdbcType="INTEGER"/>
        <result column="record_comment_count" property="recordCommentCount" jdbcType="INTEGER"/>
        <result column="record_like_count" property="recordLikeCount" jdbcType="INTEGER"/>
        <result column="record_is_comment" property="recordIsComment" jdbcType="INTEGER"/>
        <result column="record_order" property="recordOrder" jdbcType="INTEGER"/>
        <result column="record_create_time" property="recordCreateTime" jdbcType="VARCHAR"/>
        <result column="record_update_time" property="recordUpdateTime" jdbcType="VARCHAR"/>
        <result column="record_status" property="recordStatus" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="tb">record</sql>

    <sql id="Base_Column_List">
    record_id, record_user_id, record_title, record_content,record_summary, record_view_count, record_comment_count, record_like_count, record_create_time,
    record_update_time, record_is_comment, record_status, record_order
    </sql>

    <!--获得分类总数-->
    <select id="getMaxRecordId" resultType="Integer">
        SELECT MAX(record_id) FROM
        <include refid="tb"/>
    </select>

    <insert id="insert" parameterType="com.fanyi.assistant.model.Record">
        insert into
        <include refid="tb"/>
        (record_id,record_user_id, record_title,
        record_view_count, record_comment_count,
        record_like_count, record_create_time, record_update_time,
        record_is_comment, record_status, record_order,
        record_content, record_summary)
        values (#{recordId,jdbcType=VARCHAR},#{recordUserId,jdbcType=VARCHAR}, #{recordTitle,jdbcType=VARCHAR},
        #{recordViewCount,jdbcType=INTEGER},
        #{recordCommentCount,jdbcType=INTEGER},
        #{recordLikeCount,jdbcType=INTEGER}, #{recordCreateTime,jdbcType=VARCHAR},
        #{recordUpdateTime,jdbcType=VARCHAR},
        #{recordIsComment,jdbcType=INTEGER}, #{recordStatus,jdbcType=INTEGER}, #{recordOrder,jdbcType=INTEGER},
        #{recordContent,jdbcType=LONGVARCHAR}, #{recordSummary,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.fanyi.assistant.model.Record">
        update
        <include refid="tb"/>
        <set>
            <if test="recordUserId != null">record_user_id = #{recordUserId,jdbcType=VARCHAR},</if>
            <if test="recordTitle != null">record_title = #{recordTitle,jdbcType=VARCHAR},</if>
            <if test="recordViewCount != null">record_view_count = #{recordViewCount,jdbcType=INTEGER},</if>
            <if test="recordCommentCount != null">record_comment_count = #{recordCommentCount,jdbcType=INTEGER},</if>
            <if test="recordLikeCount != null">record_like_count = #{recordLikeCount,jdbcType=INTEGER},</if>
            <if test="recordCreateTime != null">record_create_time = #{recordCreateTime,jdbcType=VARCHAR},</if>
            <if test="recordUpdateTime != null">record_update_time = #{recordUpdateTime,jdbcType=VARCHAR},</if>
            <if test="recordIsComment != null">record_is_comment = #{recordIsComment,jdbcType=INTEGER},</if>
            <if test="recordStatus != null">record_status = #{recordStatus,jdbcType=INTEGER},</if>
            <if test="recordOrder != null">record_order = #{recordOrder,jdbcType=INTEGER},</if>
            <if test="recordContent != null">record_content = #{recordContent,jdbcType=LONGVARCHAR},</if>
            <if test="recordSummary != null">record_summary = #{recordSummary,jdbcType=VARCHAR},</if>
        </set>
        where record_id = #{recordId,jdbcType=INTEGER}
    </update>

    <delete id="deleteById" parameterType="java.lang.Integer">
        delete from
        <include refid="tb"/>
        where record_id = #{recordId,jdbcType=INTEGER}
    </delete>

    <select id="findAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        record.*
        FROM
        record
        <where>
            <trim prefixOverrides="and">
                <if test="status != null">
                    AND record.record_status = #{status}
                </if>
                <if test="keywords != null">
                    AND record.record_title LIKE concat(concat('%',#{keywords}),'%')
                </if>
                <if test="userId != null">
                    AND record.record_user_id = #{userId}
                </if>
                <if test="categoryId != null">
                    AND record.record_id IN (
                    SELECT record_category_ref.record_id FROM record_category_ref
                    WHERE record_category_ref.category_id = #{categoryId}
                    )
                </if>
            </trim>
        </where>
    </select>


    <select id="getRecordByStatusAndId" resultMap="BaseResultMap">
        SELECT
        record.*
        FROM
        record
        <where>
            <if test="status != null">
                record.record_status = #{status} AND
            </if>
            record.record_id = #{id}
        </where>
    </select>

    <!--获得下一篇的文章-->
    <select id="getAfterRecord" resultType="com.fanyi.assistant.model.Record">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="tb"/>
        <where>
            record_id > #{id} AND record_status = 1
        </where>
        ORDER BY record_id
        limit 1
    </select>
    <!--获得上一篇的文章-->
    <select id="getPreRecord" resultType="com.fanyi.assistant.model.Record">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="tb"/>
        <where>
            record_id &lt; #{id} AND record_status = 1
        </where>
        ORDER BY record_id
        limit 1
    </select>
</mapper>