<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::commonHead('首页')">
<body>
<header th:include="common::commonHeader"></header>
<div class="slider-area" id="home">
    <el-autocomplete
            v-model="state"
            :fetch-suggestions="querySearchAsync"
            placeholder="请输入内容"
            @select="handleSelect"
    ></el-autocomplete>
    <div class="slider-carousel owl-theme">
        <div class="single-slides"></div>
        <div class="single-slides2"></div>
        <div class="single-slides3">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <a class="js-video-popup v-center" href="https://v.qq.com/x/cover/a1ew57u6ig0y233.html">
                            <img src="../static/assets/images/video-image/play.png"
                                 th:src="@{/assets/images/video-image/play.png}" alt="Play">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- slider-carousel -->
    <!--commonMusicPlayer -->
    <div th:include="common::commonMusicPlayer"></div>
</div><!-- slider-area End-->

<section class="album-area has-color" id="album">
    <div class="container">
        <div class="section-title text-center mb-50">

        </div><!-- section-title -->
        <div class="row">
            <div class="col-lg-3 col-sm-5">
                <div class="js-single-album-item text-center">
                </div><!-- js-single-album-item -->
            </div><!-- col-lg -->
            <div class="col-lg-3 offset-lg-1 col-sm-5 offset-sm-1">
                <div class="js-single-album-item text-center">
                </div><!-- js-single-album-item -->
            </div><!-- col-lg -->
            <div class="col-lg-3 offset-lg-1 col-sm-5">
                <div class="js-single-album-item text-center">
                </div><!-- js-single-album-item -->
            </div><!-- col-lg -->
        </div><!-- row -->
    </div><!-- container -->
</section><!-- Album Section End -->

<!--&lt;!&ndash;modal &ndash;&gt;-->
<!--<div th:include="common::commonModal"></div>-->
<footer th:include="common::commonFooter"></footer>
<div th:include="common::commonJs"></div>
</body>

</html>
