<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::commonHead('首页')">
<body>
<header th:include="common::commonHeader"></header>
<div class="slider-area" id="home">
    <div class="slider-carousel owl-theme">
        <div class="single-slides">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <button class="btn-center btn btn-primary"
                                onclick="jumpPage('takeNotes')">
                            <i class="fa fa-pencil"></i>[[#{message.start}]][[#{message.record}]]
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slides2"></div>
        <div class="single-slides3">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <a class="js-video-popup v-center" href="https://v.qq.com/x/cover/a1ew57u6ig0y233.html">
                            <img src="../static/assets/images/video-image/play.png"
                                 th:src="@{/assets/images/video-image/play.png}" alt="Play">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- slider-carousel -->
    <!--commonMusicPlayer -->
    <div th:include="common::commonMusicPlayer"></div>
</div><!-- slider-area End-->

<section class="album-area has-color" id="album">
    <div class="container">
        <div class="section-title text-center mb-50">
            <h2>Feature Music <span class="primary-color">Albums</span></h2>
            <p>Check out my newest music albums. You can easily purchase our music albums on
                <span class="primary-color">iTunes</span> or <span class="primary-color">Google Play</span></p>
        </div><!-- section-title -->
        <div class="row">
            <div class="col-lg-3 col-sm-5">
                <div class="js-single-album-item text-center">
                    <div class="js-album-thumbnail">
                        <div class="js-popup-album-cover">
                            <a href="#"><i class="fa fa-plus"></i></a>
                        </div>
                        <ul class="app-button list-inline"><!-- app-button -->
                            <li><a href="#"><i class="fa fa-play"></i>
                                <p><span>Available on</span>App Store</p></a></li>
                            <li><a href="#"><i class="fa fa-apple"></i>
                                <p><span>Available on</span>App Store</p></a></li>
                        </ul><!-- App-button -->
                    </div>
                    <div class="album-content">
                        <h4 class="text-uppercase"><a href="#">Alone</a></h4>
                        <span class="primary-color">(2019)</span>
                    </div>
                </div><!-- js-single-album-item -->
            </div><!-- col-lg -->
            <div class="col-lg-3 offset-lg-1 col-sm-5 offset-sm-1">
                <div class="js-single-album-item text-center">
                    <div class="js-album-thumbnail">
                        <div class="js-popup-album-cover">
                            <a href="#"><i class="fa fa-plus"></i></a>
                        </div>
                        <ul class="app-button list-inline"><!-- app-button -->
                            <li><a href="#"><i class="fa fa-play"></i>
                                <p><span>Available on</span>App Store</p></a></li>
                            <li><a href="#"><i class="fa fa-apple"></i>
                                <p><span>Available on</span>App Store</p></a></li>
                        </ul><!-- App-button -->
                    </div>
                    <div class="album-content">
                        <h4 class="text-uppercase"><a href="#">Without You</a></h4>
                        <span class="primary-color">(2018)</span>
                    </div>
                </div><!-- js-single-album-item -->
            </div><!-- col-lg -->
            <div class="col-lg-3 offset-lg-1 col-sm-5">
                <div class="js-single-album-item text-center">
                    <div class="js-album-thumbnail">
                        <div class="js-popup-album-cover">
                            <a href="#"><i class="fa fa-plus"></i></a>
                        </div>
                        <ul class="app-button list-inline"><!-- app-button -->
                            <li><a href="#"><i class="fa fa-play"></i>
                                <p><span>Available on</span>App Store</p></a></li>
                            <li><a href="#"><i class="fa fa-apple"></i>
                                <p><span>Available on</span>App Store</p></a></li>
                        </ul><!-- App-button -->
                    </div>
                    <div class="album-content">
                        <h4 class="text-uppercase"><a href="#">Party Night</a></h4>
                        <span class="primary-color">(2017)</span>
                    </div>
                </div><!-- js-single-album-item -->
            </div><!-- col-lg -->
        </div><!-- row -->
    </div><!-- container -->
</section><!-- Album Section End -->

<!--&lt;!&ndash;modal &ndash;&gt;-->
<!--<div th:include="common::commonModal"></div>-->
<span class="scrolltop"><i class="pe-7s-angle-up"></i></span>

<footer th:include="common::commonFooter"></footer>
<div th:include="common::commonJs"></div>
</body>

</html>
