<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="common::commonHead('做记录')">
<body>
<header th:include="common::commonHeader"></header>
<style type="text/css">
    .input-text {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .single-input {
        background: white;
    }
</style>
<section class="js-product-checkout-area has-color bg-dark pb-0">
    <div class="container">
        <div class="border">
            <div class="js-product-checkout-content" style="padding-top: 30px">
                <form action="/record/insertSubmit" method="post">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-50 mb-sm-30 mb-xs-20">
                                <input class="input-text" name="recordTitle" type="text"
                                       th:placeholder="#{message.enter.title}">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="single-input mb-50 mb-sm-30 mb-xs-20">
                                <textarea id="summernote" name="recordContent"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <!--Single Forum Start-->
                            <div class="mb-50 mb-sm-30 mb-xs-20">
                                <input type="file" name="myFile" id="customfile" class="sr-only">
                                <label for="customfile"
                                       style="border: 1px solid #4e555b;border-radius: 20px;font-size: 14px;
                                       line-height: 30px;width: 90px;text-align: center">
                                    <a><i class="fa fa-paperclip"></i>添加附件</a>
                                </label>

                            </div>
                            <!--Single Forum End-->
                        </div>
                        <div class="col-12">
                            <div id="app">
                                <div class="mb-50 mb-sm-30 mb-xs-20">
                                    <i class="fa fa-bookmark" id="tagIcon"></i>
                                    <label>添加标签 <span style="color: #FF5722; ">*</span> </label>
                                    <el-select
                                            v-model="valueOne"
                                            filterable
                                            allow-create
                                            default-first-option
                                            placeholder="新增标签请直接输入"
                                            v-on:change="getChildTag"
                                            name="recordParentCategoryName" id="recordParentCategoryName">
                                        <el-option
                                                v-for="item in categoryList"
                                                v-if="item.pid == 0"
                                                :key="item.id"
                                                :label="item.name"
                                                :value="item.id">
                                        </el-option>
                                    </el-select>

                                    <el-select
                                            v-model="valueTwo"
                                            filterable
                                            allow-create
                                            default-first-option
                                            placeholder="新增标签请直接输入"
                                            v-on:change="getGrandSonTag"
                                            name="recordChildCategoryName"
                                            id="recordChildCategoryName"
                                            v-show="showSecond">
                                        <el-option
                                                v-for="item in childTagList"
                                                :key="item.id"
                                                :label="item.name"
                                                :value="item.id">
                                        </el-option>
                                    </el-select>

                                    <el-select
                                            v-model="valueThree"
                                            filterable
                                            allow-create
                                            default-first-option
                                            placeholder="新增标签请直接输入"
                                            name="recordGrandsonCategoryId"
                                            id="recordGrandsonCategoryId"
                                            v-show="showThird">
                                        <el-option
                                                v-for="item in grandsonList"
                                                :key="item.id"
                                                :label="item.name"
                                                :value="item.id">
                                        </el-option>
                                    </el-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <!--Single Forum Start-->
                            <div class="mb-50 mb-sm-30 mb-xs-20">
                                <span>状态</span>
                                &nbsp;
                                <input type="radio" name="recordStatus" value="1" title="发布" checked><span>发布</span>
                                &nbsp;
                                <input type="radio" name="recordStatus" value="0" title="草稿"><span>草稿</span>
                            </div>
                            <!--Single Forum End-->
                        </div>
                        <div class="col-12">
                            <div class="forum-post">
                                <button type="submit" class="btn btn-primary no-border-radius" id="submit-btn">保存
                                </button>
                                &nbsp;
                                <button type="reset" class="btn btn-primary no-border-radius">重置</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- js-product-checkout -->

        </div><!-- border -->
    </div><!--container -->
    <!--music -->
    <div th:include="common::commonMusicPlayer"></div>
</section>
<footer th:include="common::commonFooter"></footer>
<div th:include="common::commonJs"></div>
<script src="../static/assets/js/record/insert.js" th:src="@{/assets/js/record/insert.js}"></script>
</body>
</html>