<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::commonHead('记录详情')">
<body>
<header th:include="common::commonHeader"></header>
<input type="hidden" name="recordId" id="recordId" th:value="${recordId}">
<section class="js-product-checkout-area has-color bg-dark">
    <div class="container">
        <div class="js-product-checkout-content">
            <div id="recordDetailVue" v-cloak>
                <ul class="breadcrumb">
                    <li><a href="/record">总览</a> <span class="divider">/</span></li>
                    <li class="active">详情</li>
                </ul>
                <article class="post" id="articleDetail">
                    <div class="row">
                        <div class="col-3 tag-group">
                            <el-tag v-for="item in recordDetail.categoryList"
                                    :key="item.id"
                                    :type="item.icon"
                                    effect="dark">{{item.name}}
                            </el-tag>
                        </div>
                        <div class="col-3">
                        </div>
                        <div class="col-3">
                        </div>
                        <div class="col-3">
                            <el-button type="primary" icon="el-icon-edit" circle
                                       @click="editRecord(recordDetail.recordId)">编辑</el-button>
                            &nbsp;
                            <el-dropdown>
                                <el-button type="primary" icon="el-icon-share"></el-button>
                                <el-dropdown-menu slot="dropdown">
                                    <el-dropdown-item title="分享到QQ"><i class="fa fa-qq" aria-hidden="true"></i></el-dropdown-item>
                                    <el-dropdown-item title="分享到微信" data-cmd="weixin"><i class="fa fa-weixin" aria-hidden="true"></i></el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h3 name="recordTitle" style="text-align: center;">
                                {{recordTitle}}
                            </h3>
                        </div>
                        <div class="col-12" style="margin-top: 10px">
                            <!--Single Forum Start-->
                            <div class="mb-50 mb-sm-30 mb-xs-20">
                                <span id="recordContent"></span>
                            </div>
                            <!--Single Forum End-->
                        </div>
                        <div class="col-12">
                            <el-link>查看<i class="el-icon-view el-icon--right"></i> </el-link>
                        </div>
                        <div class="col-12">
                          <span class="footer-nav-link" style="float: left" v-if="preRecord==null" disabled="disabled">
                              <el-button type="primary" icon="el-icon-arrow-left"> 已是第一页</el-button>
                            </span>
                            <span class="footer-nav-link" style="float: left" v-else
                                  @click="pageJump(preRecord.recordId)">
                                  <el-button type="primary" icon="el-icon-arrow-left">上一页</el-button>
                              </span>
                            <span class="footer-nav-link" style="float: right" v-if="afterRecord==null"
                                  disabled="disabled">
                                 <el-button type="primary">已是最后一页<i
                                         class="el-icon-arrow-right el-icon--right"></i></el-button>
                               </span>
                            <span class="footer-nav-link" style="float: right" v-else
                                  @click="pageJump(afterRecord.recordId)"><el-button type="primary">下一页<i
                                    class="el-icon-arrow-right el-icon--right"></i></el-button>
                    </span>
                        </div>
                    </div>
                </article>
            </div><!--VUE -->
        </div><!-- js-product-checkout -->
    </div><!--container -->
    <!--music -->
    <div th:include="common::commonMusicPlayer"></div>
</section>
<footer th:include="common::commonFooter"></footer>
<div th:include="common::commonJs"></div>
<script>
    // 分享 √
    if (/iphone|ipod|ipad|ipad|mobile/i.test(navigator.userAgent.toLowerCase())) {
        $('.share-sd').click(function () {
            $('#share').animate({
                    opacity: 'toggle',
                    top: '-80px'
                },
                500).animate({
                    top: '-60px'
                },
                'fast');
            return false;
        });
    } else {
        $(".share-sd").mouseover(function () {
            $(this).children("#share").show();
        });
        $(".share-sd").mouseout(function () {
            $(this).children("#share").hide();
        });
    }
</script>
<script type="text/javascript" src="../static/assets/js/record/detail.js"
        th:src="@{/assets/js/record/detail.js}"></script>
</body>
</html>