<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::commonHead('全部记录')">
<body>
<header th:include="common::commonHeader"></header>
<style type="text/css">
    #vueRecord table {
        width: 100%;
        font-size: 14px;
        border: 1px solid #eee
    }

    #vueRecord {
        padding: 0 10px;
    }

    table thead th {
        padding: 10px;
        text-align: left;
    }

    table tbody td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #eee;
        border-right: 1px solid #eee;
    }

    table tbody td span {
        margin: 0 10px;
        cursor: pointer;
    }
</style>
<section class="js-product-checkout-area has-color bg-dark pb-0" style="min-height: 850px;">
    <div class="container">
        <!--<ul class="breadcrumb">-->
        <!--  <li><a href="/record">总览</a>-->
        <!--</ul>-->
        <div class="js-product-checkout-content">
            <div id="vueRecord" v-cloak>
                <span class="layui-breadcrumb" style="visibility: visible;">
                  <a href="/record">总览</a><span lay-separator="">/</span>
                </span>
                <!--<el-breadcrumb separator-class="el-icon-arrow-right">-->
                    <!--<el-breadcrumb-item :to="{ path: '/record' }">首页</el-breadcrumb-item>-->
                    <!--<el-breadcrumb-item>总览</el-breadcrumb-item>-->
                <!--</el-breadcrumb>-->
                <!--<table cellpadding="0" cellspacing="0" class="table table-bordered table-hover">-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th>标题</th>-->
                        <!--<th>所属分类</th>-->
                        <!--<th>状态</th>-->
                        <!--<th>发布时间</th>-->
                        <!--<th>操作</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr v-for="item in pageInfo">-->
                        <!--<td><a @click="detailRecord(item.recordId,item.recordStatus)" href="#">{{item.recordTitle}}</a>-->
                        <!--</td>-->
                        <!--<td width="10%"><span v-for="category in item.categoryList">{{category.name}}</span></td>-->
                        <!--<td width="15%"><a href=""><span style="color:#5FB878;"-->
                                                         <!--v-show="item.recordStatus == 1">已发布</span></a>-->
                            <!--<a href=""><span style="color:#FF5722;" v-show="item.recordStatus == 0">草稿</span></a>-->
                        <!--</td>-->
                        <!--<td width="15%">{{item.recordUpdateTime}}</td>-->
                        <!--<td width="20%"><a @click="deleteRecord(item.recordId)"-->
                                           <!--class="layui-btn layui-btn-danger layui-btn-mini">删除</a>-->
                            <!--<a class="layui-btn layui-btn-danger layui-btn-mini"-->
                               <!--@click="editRecord(item.recordId)">编辑</a></td>-->
                    <!--</tr>-->
                    <!--<tr v-show="pageInfo.length==0">-->
                        <!--<td colspan="5" class="text-center text-info">-->
                            <!--<p>暂无数据...</p>-->
                        <!--</td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
                <el-table
                        ref="filterTable"
                        :data="pageInfo"
                        style="width: 100%">
                    <template>
                        <el-table-column
                                prop="recordUpdateTime"
                                label="发布时间"
                                sortable
                                width="180"
                                column-key="recordUpdateTime"
                                :filter-method="filterHandler">
                        </el-table-column>
                        <el-table-column
                                prop="recordTitle"
                                label="标题"
                                width="180">
                            <template slot-scope="scope">
                                <a @click="detailRecord(scope.row.recordId,scope.row.recordStatus)" href="#">{{scope.row.recordTitle}}</a>
                            </template>
                        </el-table-column>

                        <el-table-column
                                prop="recordStatus"
                                label="状态"
                                :formatter="formatter">
                            <template slot-scope="scope">
                                <col-span v-show="scope.row.recordStatus == '1'">已发布</col-span>
                                <col-span v-show="scope.row.recordStatus == '0'">草稿</col-span>
                            </template>
                        </el-table-column>
                        <el-table-column prop="categoryList" label="所属分类"
                                width="100"
                               :filters="[{ text: '生活', value: '1' }, { text: '工作', value: '2' }, { text: '学习', value: '3' }]"
                                :filter-method="filterTag"
                                filter-placement="bottom-end">
                            <template slot-scope="scope">
                                <col-span v-for="category in scope.row.categoryList">{{category.name}}</col-span>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button type="danger" icon="el-icon-delete" circle
                                           @click="deleteRecord(scope.row.recordId)"></el-button>
                                <el-button type="primary" icon="el-icon-edit" circle
                                           @click="editRecord(scope.row.recordId)"></el-button>
                            </template>
                        </el-table-column>
                    </template>
                </el-table>
                <el-pagination
                        background
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[5, 10, 20, 30]"
                        :page-size="pageNum"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="all">
                </el-pagination>
            </div>
        </div>
    </div><!--container -->
    <!--music -->
    <div th:include="common::commonMusicPlayer"></div>
</section>
<footer th:include="common::commonFooter"></footer>
<script type="text/javascript" src="../static/assets/js/record/home.js"
        th:src="@{/assets/js/record/home.js}"></script>
<div th:include="common::commonJs"></div>
</body>
</html>