<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::commonHead('全部记录')">
    <style type="text/css">
        #vueRecord table {
            width: 100%;
            font-size: 14px;
            border: 1px solid #eee
        }

        #vueRecord {
            padding: 0 10px;
        }

        table thead th {
            padding: 10px;
            text-align: left;
        }

        table tbody td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #eee;
            border-right: 1px solid #eee;
        }

        table tbody td span {
            margin: 0 10px;
            cursor: pointer;
        }
    </style>
<body>
<header th:include="common::commonHeader"></header>
<input type="hidden" name="tagId" id="tagId" th:value="${tagId}">
<input type="hidden" name="keyword" id="keyword" th:value="${keywords}">
<section class="js-product-checkout-area has-color bg-dark" style="min-height: 850px;">
    <div class="container">
        <div class="js-product-checkout-content">
            <div id="vueRecord" v-cloak>
                <ul class="breadcrumb">
                    <li><a href="/record">总览</a></li>
                    <li class="active" v-show="searchStatus">
                        <span class="divider">/</span>搜索到相关结果{{all}}个</a></li>
                    <li class="active" v-show="tagName">
                        <span class="divider">/</span><span th:text="${tagName}" name="tagName" id="tagName"></span></a></li>
                </ul>
                <el-table
                        ref="filterTable"
                        :data="pageInfo"
                        style="width: 100%;">
                    <template>
                        <el-table-column
                                prop="recordUpdateTime"
                                label="发布时间"
                                sortable
                                width="180"
                                column-key="recordUpdateTime"
                                :filter-method="filterHandler">
                        </el-table-column>
                        <el-table-column
                                prop="recordTitle"
                                label="标题"
                                width="180">
                            <template slot-scope="scope">
                                <a @click="detailRecord(scope.row.recordId,scope.row.recordStatus)" href="#">{{scope.row.recordTitle}}</a>
                            </template>
                        </el-table-column>

                        <el-table-column
                                prop="recordStatus"
                                label="状态">
                            <template slot-scope="scope">
                                <col-span v-show="scope.row.recordStatus == '1'">已发布</col-span>
                                <col-span v-show="scope.row.recordStatus == '0'">草稿</col-span>
                            </template>
                        </el-table-column>
                        <el-table-column prop="categoryList" label="所属分类"
                                         width="100"
                                         :filters="[{ text: '生活', value: '生活' }, { text: '工作', value: '工作' }, { text: '学习', value: '学习' }]"
                                         :filter-method="filterTag"
                                         filter-placement="bottom-end">
                            <template slot-scope="scope">
                                <col-span v-for="category in scope.row.categoryList">{{category.name}}&nbsp;</col-span>
                            </template>
                        </el-table-column>
                        <el-table-column label="操作">
                            <template slot-scope="scope">
                                <el-button type="danger" icon="el-icon-delete" circle
                                           @click="deleteRecord(scope.row.recordId)"></el-button>
                                <el-button type="primary" icon="el-icon-edit" circle
                                           @click="editRecord(scope.row.recordId)"></el-button>
                            </template>
                        </el-table-column>
                    </template>
                </el-table>
                <el-pagination
                        background
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[5, 10, 20, 30]"
                        :page-size="pageNum"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="all">
                </el-pagination>
            </div>
        </div>
    </div><!--container -->
    <!--music -->
    <div th:include="common::commonMusicPlayer"></div>
</section>
<footer th:include="common::commonFooter"></footer>
<script type="text/javascript" src="../static/assets/js/record/home.js"
        th:src="@{/assets/js/record/home.js}"></script>
<div th:include="common::commonJs"></div>
</body>
</html>