<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="common::commonHead('做记录')">
<body>
<header th:include="common::commonHeader"></header>
<style type="text/css">
    .input-text {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .single-input {
        background: white;
    }
</style>
<section class="js-product-checkout-area has-color bg-dark pb-0">
    <div class="container">
        <div class="border">
            <div class="js-product-checkout-content" style="padding-top: 30px">
                <div id="app">
                    <el-form id="formInsert" method="post" :model="ruleForm" :rules="rules" ref="ruleForm"
                             action="/record/insertSubmit" enctype="multipart/form-data" onsubmit="return checkSub()">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-50 mb-sm-30 mb-xs-20">
                                    <el-form-item prop="title">
                                        <el-input class="input-text" name="recordTitle" type="text" id="recordTitle"
                                                  th:placeholder="#{message.enter.title}"  v-model="ruleForm.title"></el-input>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="single-input mb-50 mb-sm-30 mb-xs-20">
                                    <el-form-item prop="content">
                                        <el-input type="textarea" id="summernote"  name="recordContent" v-model="ruleForm.content"></el-input>
                                    </el-form-item>
                                </div>
                            </div>
                            <div class="col-12" style="padding-bottom: 20px">
                                <el-upload
                                        class="upload-demo"
                                        ref="upload"
                                        action=""
                                        :on-preview="handlePreview"
                                        :on-remove="handleRemove"
                                        :before-remove="beforeRemove"
                                        multiple
                                        :limit="3"
                                        :on-exceed="handleExceed"
                                        :file-list="fileList"
                                        :auto-upload="false"
                                        name="files"
                                        accept=".rar,.RAR,.ZIP,.zip,.exe,.xlsx,.txt">
                                    <el-link size="small" type="primary"><i class="fa fa-paperclip"></i>添加附件</el-link>
                                    <span slot="tip" class="el-upload__tip">(只能上传rar/zip文件，且不超过500kb)</span>
                                </el-upload>
                            </div>
                            <div class="col-12">
                                <div class="mb-50 mb-sm-30 mb-xs-20">
                                        <i class="fa fa-bookmark" id="tagIcon"></i>
                                        <label>添加标签 <span style="color: #FF5722; ">*</span> </label>
                                        <el-select
                                                v-model="ruleForm.valueOne"
                                                filterable
                                                allow-create
                                                default-first-option
                                                placeholder="新增标签请直接输入"
                                                v-on:change="getChildTag"
                                                name="recordParentCategoryName" id="recordParentCategoryName">
                                            <el-option
                                                    v-for="item in categoryList"
                                                    v-if="item.pid == 0"
                                                    :key="item.id"
                                                    :label="item.name"
                                                    :value="item.id">
                                            </el-option>
                                        </el-select>

                                        <el-select
                                                v-model="ruleForm.valueTwo"
                                                filterable
                                                allow-create
                                                default-first-option
                                                placeholder="新增标签请直接输入"
                                                v-on:change="getGrandSonTag"
                                                name="recordChildCategoryName"
                                                id="recordChildCategoryName"
                                                v-show="showSecond">
                                            <el-option
                                                    v-for="item in childTagList"
                                                    :key="item.id"
                                                    :label="item.name"
                                                    :value="item.id">
                                            </el-option>
                                        </el-select>

                                        <el-select
                                                v-model="ruleForm.valueThree"
                                                filterable
                                                allow-create
                                                default-first-option
                                                placeholder="新增标签请直接输入"
                                                name="recordGrandsonCategoryId"
                                                id="recordGrandsonCategoryId"
                                                v-show="showThird">
                                            <el-option
                                                    v-for="item in grandsonList"
                                                    :key="item.id"
                                                    :label="item.name"
                                                    :value="item.id">
                                            </el-option>
                                        </el-select>
                                </div>
                            </div>
                            <div class="col-12">
                                <!--Single Forum Start-->
                                <div class="mb-50 mb-sm-30 mb-xs-20">
                                    <span>状态</span>
                                    &nbsp;
                                    <input type="radio" name="recordStatus" value="1" title="发布" checked><span>发布</span>
                                    &nbsp;
                                    <input type="radio" name="recordStatus" value="0" title="草稿"><span>草稿</span>
                                </div>
                                <!--Single Forum End-->
                            </div>
                            <div class="col-12">
                                <div class="forum-post">
                                    <button type="submit" class="btn btn-primary no-border-radius"
                                            id="submit-btn">保存
                                    </button>
                                    &nbsp;
                                    <button type="reset" class="btn btn-primary no-border-radius">重置</button>
                                </div>
                            </div>
                        </div>
                    </el-form>
                </div><!--VUE APP-->
            </div><!-- js-product-checkout -->

        </div><!-- border -->
    </div><!--container -->
    <!--&lt;!&ndash;music &ndash;&gt;-->
    <!--<div th:include="common::commonMusicPlayer"></div>-->
</section>
<footer th:include="common::commonFooter"></footer>
<div th:include="common::commonJs"></div>
<script src="../static/assets/js/record/insert.js" th:src="@{/assets/js/record/insert.js}"></script>
</body>
</html>