<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="common::commonHead('全部记录')">

<body>
<header th:include="common::commonHeader"></header>
<div id="ap">
    <el-tabs v-model="editableTabsValue2" type="card" closable @tab-remove="removeTab">
        <el-tab-pane v-for="(item, index) in editableTabs2" :key="item.name" :label="item.title" :name="item.name">
            {{item.content}}
        </el-tab-pane>
    </el-tabs>
</div>
<template id="div1">
    <div class="sel1">aaa</div>
</template>
<template id="div2">
    <div class="sel2">bbb</div>
</template>
<template id="div3">
    <div class="sel3">ccc</div>
</template>
</body>
<div th:include="common::commonJs"></div>
<script type="text/javascript">
    let myC1 = {
        data() {
            return {};
        },
        methods: {},
        template: '#div1',
    };
    let myC2 = {
        data() {
            return {};
        },
        template: '#div2',
    };
    let myC3 = {
        data() {
            return {};
        },
        template: '#div3',
    };
    let ap = new Vue({
        el: '#ap',
        data: {
            name: 'myC1',
            flag: 0,
            arr: [{title: "选项1"}, {title: "选项2"}, {title: "选项3"},]
        },
        methods: {
            fn(data) {
                this.flag = data;
                //this.name='myC'+data;
                this.name = 'myC' + (data + 1);
            }
        },
        components: {
            myC1, myC2, myC3
        }
    })
</script>

</html>